.container {
    display: grid;
    grid-template-columns: auto 960px auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    grid-row-gap: 30px;
    grid-column-gap: 0px;
    justify-content: center;
    align-content: start;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.content {
    grid-area: main;
}

.container > div {
    background-color: rgb(4, 108, 199);
    text-align: center;
    padding 20px;
    font-size: 30px;
}